# dependencies
node_modules/

# build output
dist/
build/

# logs
*.log

# environment files
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# python cache (if using ML scripts)
__pycache__/
*.pyc